@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap");

/*Colors
--primary-color: #2074b0;
  --secondary-color: #3d43bc;
  --accent1-color: #10154e;
  --accent2-color: #a121c4; */
nav {
  grid-template-rows: 10px 20px;
  padding: 20px 0 20px 0;
}
nav a {
  color: white;
  text-align: center;
  text-size-adjust: 50%;
  text-decoration: none;
}
header {
  background-color: #2074b0;
  display: grid-;
}
header a {
  align-items: left;
}

.logo {
  width: 15%;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
}
.para-one,
.para-three {
  background-color: #2074b0;
}
.para-one p,
h1 {
  color: white;
}
.para-two {
  background-color: white;
}
.para-two p {
  color: #24418c;
}

footer {
  display: grid;
  background-color: #24418c;
}
footer a,
h4,
p {
  color: white;
  text-align: center;
}
#hero-img {
  width: 100%;
}
img {
  width: 100%;
}
.topnav {
  overflow: hidden;
  background-color: #2b559c;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1e5eb8;
  color: white;
}
