.content {
  max-width: 1600px;
  margin: 0 auto;
}

/*home elements */
.home-title h4 {
  color: rgb(21, 52, 83);
  font-size: 2em;
}
.home-title {
  color: #000000;
  margin-top: 10px;
}

header {
  background-color: rgba(25, 87, 131, 0.7);
  display: grid;
  grid-template-columns: 150px auto;
}

#background {
  background-color: rgb(225, 241, 244);
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-msg h1 {
  text-align: center;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#hero-img {
  width: 100%;
}

#hero-msg h4 {
  text-align: center;
  color: white;
}
/*logos/images*/
.logo {
  width: 20%;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
.icon {
  width: 80px;
  padding-top: 10px;
  font-size: 1.5px;
}
body {
  background-color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px;
  align-items: center;
}

.card-img {
  border: 10px solid #a3c9d9;
  box-shadow: 5px 5px 10px #2e4152;
  transition: transform 0.5s;
}
.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.card-img,
.mountains {
  width: 100%;
  box-shadow: 5px 5px 10px #6f7364;
}

.button-box {
  text-align: center;
}
/*book elements*/
.book,
.join {
  background-color: rgb(41, 50, 149);
  color: #fcfbfb;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover,
.join:hover {
  background-color: rgb(69, 172, 231);
  color: rgb(39, 113, 115);
}
.background {
  background-color: white;
  height: 725px;
}

h2 {
  margin: 0;
}

main {
  align-content: center;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
  min-width: 25em;
}
/*msg elements*/
.msg {
  background-color: rgb(28, 100, 167);
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6/11;
  grid-row: 6/8;
  box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
  color: rgb(19, 43, 95);
}
.msg p {
  color: #000000;
  font-size: 0.8em;
  padding-bottom: 15px;
}

/*footer elements*/

footer {
  background-color: rgb(36, 75, 126);
  color: #fcfbfb;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: rgb(62, 161, 161);
  text-decoration: none;
}
footer a:hover {
  color: rgb(188, 192, 236);
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
  max-width: 4em;
}

/*nav elements*/
nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: rgb(241, 245, 248);
  text-decoration: none;
  padding: 35px;
  text-align: center;
}

nav a:hover {
  background-color: rgb(31, 125, 105);
  color: rgb(236, 242, 249);
}

/*   .rivers-card from column lines 2–4 and row lines 2–3

     .camping-card from column lines 5–7 and row lines 2–3

    .rapids-card from column lines 8–10 and row lines 2–3

     #background from column lines 1–11 and row lines 4–9

    .mountains from column lines 2–7 and row lines 5–8

     .msg from column lines 6–10 and row lines 6–7 */

.rivers-card {
  grid-column: 2/5;
  grid-row: 2/4;
}
.camping-card {
  grid-column: 5/8;
  grid-row: 2/4;
}
.rapids-card {
  grid-column: 8/11;
  grid-row: 2/4;
}
#background {
  grid-column: 1/12;
  grid-row: 4/10;
}
.mountains {
  grid-column: 2/8;
  grid-row: 5/9;
}

@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  .home-title {
    font-size: 25px;
    color: #6f7364;
  }
  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}
